---
import '../styles/global.css';

interface Props {
  title: string;
  description?: string;
}

const { title, description = 'Sistema de gestión financiero basado en la nube'} = Astro.props;
---

<!DOCTYPE html>
<html lang="es"
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/icon.ico" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
    <slot />
</body>
</html>